include ../mixins/nav_item
include ../mixins/new_message
include ../mixins/notification


// Navbar Brand
a.navbar-brand.mr-16pt(href='/')
    span.avatar.avatar-sm.navbar-brand-icon.mr-0.mr-lg-8pt
        span.avatar-title.rounded.bg-primary.p-1
            img.img-fluid(src=`/images/logo-white.svg`, alt=t('title', {ns: 'site'}))
    small.d-none.d-lg-flex.flex-column
        strong.navbar-text-100(style={'font-size': '1.3em', 'font-weight': '700'}) #{t('title', {ns: 'site'})}
        span.navbar-text-50 #{t('slogan', {ns: 'site'})}
// Navbar Toggler
button.navbar-toggler.w-auto.mr-16pt.d-block.rounded-0(class=(layout === 'app-layout' ? 'd-lg-none' : '') type='button' data-toggle='sidebar')
    span.material-icons notes
.nav.navbar-nav.flex-nowrap.d-flex.pl-16pt.border-left-2
    .nav-item.dropdown(data-toggle='tooltip' data-title=t("navbar.changeLanguage") data-placement='bottom' data-boundary='window')
        button.nav-link.btn-flush.dropdown-toggle(type='button' data-toggle='dropdown' data-caret='false')
            i.material-icons.icon-24pt language
        .dropdown-menu.dropdown-menu-left
            .dropdown-header
                strong= t("navbar.changeLanguage")
            .list-group.list-group-flush.mb-0
                each l in locales
                    unless l === lang
                        a.dropdown-item(href=createQuery('lang', l))
                            span.d-flex.align-items-center
                                span.avatar.avatar-xs.mr-2
                                    img.avatar-img.avatar-4by3(src=`/images/flags/${l}.png` alt=l)
                                strong.text-black-100=t(l)
        
//- ul.nav.navbar-nav.d-none.d-sm-flex.flex.justify-content-start.ml-8pt
//-     each item in menu
//-         +nav_item(item)
.flex
// End Side Menu
if loggedin
    .nav.navbar-nav.flex-nowrap.d-flex.mr-16pt
        .nav-item.dropdown.dropdown-notifications.dropdown-xs-down-full(data-toggle='tooltip' data-title=t("navbar.messages") data-placement='bottom' data-boundary='window')
            button.nav-link.btn-flush.dropdown-toggle(type='button' data-toggle='dropdown' data-caret='false')
                i.material-icons.icon-24pt mail_outline
            .dropdown-menu.dropdown-menu-right
                .position-relative(data-perfect-scrollbar='')
                    .dropdown-header
                        strong= t("navbar.messages")
                    .list-group.list-group-flush.mb-0
                        each data in messages
                            +new_message(data)
        .nav-item.ml-16pt.dropdown.dropdown-notifications.dropdown-xs-down-full(data-toggle='tooltip' data-title=t("navbar.notifications") data-placement='bottom' data-boundary='window' data-original-title='' title='')
            button.nav-link.btn-flush.dropdown-toggle(type='button' data-toggle='dropdown' data-caret='false' aria-expanded='false')
                i.material-icons notifications_none
                span.badge.badge-notifications.badge-accent= notifications.length
            .dropdown-menu.dropdown-menu-right
                .position-relative.ps(data-perfect-scrollbar='')
                    .dropdown-header
                        strong= t("navbar.notifications")
                    .list-group.list-group-flush.mb-0
                        each data in notifications
                            +notification(data)
        .nav-item.dropdown
            a.nav-link.d-flex.align-items-center.dropdown-toggle(href='#' data-toggle='dropdown' data-caret='false')
                span.avatar.avatar-sm.mr-8pt2
                    span.avatar-title.rounded-circle.bg-primary
                        i.material-icons account_box
            .dropdown-menu.dropdown-menu-right
                .dropdown-header
                    strong Account
                a.dropdown-item(href='edit-account.html') Edit Account
                a.dropdown-item(href='billing.html') Billing
                a.dropdown-item(href='billing-history.html') Payments
                a.dropdown-item(href='login.html') Logout
else
    ul.nav.navbar-nav.ml-auto.mr-0
        li.nav-item.active
            a.nav-link(href='/user/login', data-toggle='tooltip', data-title=t('navbar.login'), data-placement='bottom', data-boundary='window', data-original-title='', title='')
                i.material-icons account_circle
        li.nav-item
            a.btn.btn-outline-dark(href=createLink('/user/register'))= t('navbar.register')