doctype html 
- layout = 'app-layout'
html(lang=lang dir=getDir(lang))
    head 
        include ../includes/head
        block head
    body.layout-app
        include ../includes/preloader
        .mdk-drawer-layout.js-mdk-drawer-layout(data-push='' data-responsive-width='992px')
            .mdk-drawer-layout__content.page-content
                #default-navbar.navbar.navbar-expand.navbar-light.border-bottom-2(data-primary='data-primary')
                    include ../includes/navbar
                .pt-32pt
                    .container.page__container
                        include ../includes/header
                .container.page__container.pt-32pt
                    block content
                include ../includes/footer
            #default-drawer.mdk-drawer.js-mdk-drawer
                .mdk-drawer__content
                    .sidebar.sidebar-dark-pickled-bluewood.sidebar-left(data-perfect-scrollbar='')
                        // Sidebar Content
                        .d-flex.align-items-center.navbar-height
                            form.search-form.search-form--black.mx-16pt.pr-0.pl-16pt(method= 'GET' action='/courses/search/')
                                input.form-control.pl-0(type='text' name='query' placeholder=t('sidebar.search'))
                                button.btn(type='submit')
                                    i.material-icons search
                        a.sidebar-brand(href='/')
                            span.avatar.avatar-xl.sidebar-brand-icon.h-auto
                                span.avatar-title.rounded.bg-primary.p-2
                                    img.img-fluid(src='/images/logo-white.svg' alt=site_title)
                            span.mt-2= site_title
                        include ../includes/drawer
        include ../includes/scripts
        block scripts