doctype html
- layout = 'fullwidth'
html(lang=lang dir=getDir(lang))
    head 
        include ../includes/head
        block head
    body.layout-sticky-subnav.layout-learnly 
        include ../includes/preloader
        .mdk-header-layout.js-mdk-header-layout
            #header.mdk-header.js-mdk-header.mb-0(data-fixed data-effects="waterfall")
                .mdk-header__content
                    #default-navbar.navbar.navbar-expand.navbar-light.bg-white.border-bottom
                        .container.page__container
                            include ../includes/navbar
            .mdk-header-layout__content.page-content
                if include_header
                    .page-section.bg-alt.border-bottom-2
                        .container.page__container
                            include ../includes/header
                block content 
                    container.page__container.flex.d-flex.my-32pt
                        .application-shell-content
                            span Add your page content here.
            include ../includes/footer
        #default-drawer.mdk-drawer.js-mdk-drawer
            .mdk-drawer__content
                .sidebar.sidebar-dark-pickled-bluewood.sidebar-left(data-perfect-scrollbar='')
                    .d-flex.align-items-center.navbar-height
                        form.search-form.search-form--black.mx-16pt.pr-0.pl-16pt(method= 'GET' action='/courses/search/')
                            input.form-control.pl-0(type='text' name='query' placeholder=t('drawer.search'))
                            button.btn(type='submit')
                                i.material-icons search
                    a.sidebar-brand(href='/')
                        span.avatar.avatar-xl.sidebar-brand-icon.h-auto
                            span.avatar-title.rounded.bg-primary.p-2
                                img.img-fluid(src='/images/logo-white.svg' alt=site_title)
                        span.mt-2= site_title
                    include ../includes/drawer
        include ../includes/scripts
        block scripts