doctype html 
html(lang=lang dir=getDir(lang))
    head 
        include ../includes/head
        block head
    body.layout-app
        include ../includes/preloader
        .mdk-drawer-layout.js-mdk-drawer-layout(data-push='' data-responsive-width='992px')
            .mdk-drawer-layout__content.page-content
                include ../includes/navbar
                block content
                include ../includes/footer
            #default-drawer.mdk-drawer.js-mdk-drawer
                .mdk-drawer__content
                    .sidebar.sidebar-dark-pickled-bluewood.sidebar-left(data-perfect-scrollbar='')
                        // Sidebar Content
                        .d-flex.align-items-center.navbar-height
                            form.search-form.search-form--black.mx-16pt.pr-0.pl-16pt(method= 'GET' action='/courses/search/')
                                input.form-control.pl-0(type='text' name='query' placeholder=t('sidebar.search'))
                                button.btn(type='submit')
                                    i.material-icons search
                        a.sidebar-brand(href='index.html')
                            // <img class="sidebar-brand-icon" src="../../public/images/illustration/student/128/white.svg" alt="Luma">
                            span.avatar.avatar-xl.sidebar-brand-icon.h-auto
                                span.avatar-title.rounded.bg-primary.p-2
                                    img.img-fluid(src='/images/logo-white.svg' alt=site_title)
                            span.mt-2= site_title
                        include ../includes/side_bar
                        block side_bar
        include ../includes/scripts
        block scripts