include stars
mixin course_card(course)
    - url = `/course/${course.slug}`
    .card.card-sm.card--elevated.p-relative.o-hidden.card-group-row__card
        a.card-img-top.js-image(data-position="" data-height="140" href=url)
            img(src=course.image, alt=course.title)
        .card-body.flex
            .d-flex
                .flex
                    a.card-title(href=url)= course.title
                    small.text-50.font-weight-bold.mb-4pt= course.teacher
                a.ml-4pt.material-icons.text-20.card-course__icon-favorite(
                    href=`/user/wishlist/add/${course.id}`
                    data-toggle="tooltip"
                    data-title=t('addfavorite')
                    data-placement="top"
                    data-boundary="window"
                )= user.wishlist.includes(course.id) ? favorite : favorite_border
            .d-flex
                +stars(course.rate)
        .card-footer
            .row.justify-content-between
                .col-auto.d-flex.align-items-center
                    span.material-icons.icon-16pt.text-50.mr-4pt access_time
                    p.flex.text-50.lh-1.mb-0
                        small #{course.hours} #{t('hours')}
                .col-auto.d-flex.align-items-center
                    span.text-50.mr-4pt= course.price
                    p.flex.text-50.lh-1.mb-0
                        small= t('sr')