mixin daterange(id, label, placeholder, start_date, end_date)
    .form-group
        label.form-label(for=id)= label
        input.form-control(
            type="text"
            placeholder=placeholder
            data-toggle="daterangepicker"
            data-daterangepicker-drops="up"
            data-daterangepicker-start-date=start_date
            data-daterangepicker-end-date=end_date
            data-daterangepicker-time-picker="true"
            data-daterangepicker-locale-format="DD/MM/YYYY - Ha"
            data-daterangepicker-min-date= new Date()
        )