mixin input_lg(type, id, label, placeholder, value)
    .form-group
        label.form-label(for=id)= label
        input.form-control.form-control-lg(type=type, id=id placeholder=placeholder value=value)